<form action="/login" method="POST">
    <div>
        <label for="email">Username : </label>
        <input type="text" name="email" placeholder="email" id ="email" required>
    </div>
    <div>
        <label for="password">Password : </label>
        <input type="password" name="password" placeholder="password" id ="password" required>
    </div>
    <button type="submit" >Login</button>
    </form>
    <a href="register">Register here</a></br><br>